<div class="potientPage pt-5">
<div class="container">

  <h2>Patients</h2>

  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Patient</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody *ngIf="drLogged">
      <tr *ngFor="let patient of patients">
        <th scope="row">{{ patient.patient.id }}</th>
        <td>{{ patient.patient.name }}</td>
        <td>{{ patient.patient.email }}</td>
        <td>{{ patient.patient.date_of_birth }}</td>
        <td>{{ patient.patient.gender }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="!drLogged">
      <tr *ngFor="let patient of patients">
        <th scope="row">{{ patient.id }}</th>
        <td>{{ patient.name }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.gender }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>