
<div class="cardBox">
    <div class="cards">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Number Of Department</h5>
                            <p class="card-text">20</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Number Of Doctors</h5>
                            <p class="card-text">40</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Number Of Patient</h5>
                            <p class="card-text">70</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Number Of Rooms</h5>
                            <p class="card-text">50</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Aya</td>
                <td>
                    <img style="width: 50px;" src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="">
                </td>
                <td>
                    aya@gmail.com
                </td>
                <td>
                    010212211121
                </td>
                <td>
                    Doctor
                </td>
                <td>
                    <button class="btn btn-warning me-3">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <td>Aya</td>
                <td>
                    <img style="width: 50px;" src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="">
                </td>
                <td>
                    aya@gmail.com
                </td>
                <td>
                    010212211121
                </td>
                <td>
                    Doctor
                </td>
                <td>
                    <button class="btn btn-warning me-3">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <td>Aya</td>
                <td>
                    <img style="width: 50px;" src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="">
                </td>
                <td>
                    aya@gmail.com
                </td>
                <td>
                    010212211121
                </td>
                <td>
                    Doctor
                </td>
                <td>
                    <button class="btn btn-warning me-3">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <td>Aya</td>
                <td>
                    <img style="width: 50px;" src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="">
                </td>
                <td>
                    aya@gmail.com
                </td>
                <td>
                    010212211121
                </td>
                <td>
                    Doctor
                </td>
                <td>
                    <button class="btn btn-warning me-3">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <td>Aya</td>
                <td>
                    <img style="width: 50px;" src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="">
                </td>
                <td>
                    aya@gmail.com
                </td>
                <td>
                    010212211121
                </td>
                <td>
                    Doctor
                </td>
                <td>
                    <button class="btn btn-warning me-3">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>