
<nav>
    <div class="contain">
        <div class="navigation">
                <div class="py-2">
                    <ul class="nav flex-column">
                        <li>
                            <a>
                                <span class="icaons">
                                    <i class="fa-solid fa-hospital"></i>                             </span>
                                <span class="title">Hospital Manageent System </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="dashboard" routerLinkActive="test">
                                <span class="icaons"><i class="fa fa-dashboard" aria-hidden="true"></i></span>
                                <span class="title">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="admin" routerLinkActive="test">
                                <span class="icaons"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <span class="title">Admins</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="doctor" routerLinkActive="test">
                                <span class="icaons"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                                <span class="title">Doctors</span>
                            </a>
                        </li>
                         <li>
                            <a routerLink="receptionist">
                                <span class="icaons"><i class="fa fa-home" aria-hidden="true"></i></span>
                                <span class="title">Receptionists</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" routerLinkActive="test">
                                <span class="icaons"><i class="fa-solid fa-hospital-user"></i></span>
                                <span class="title">Patients</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" routerLinkActive="test">
                                <span class="icaons"><i class="fa fa-paint-brush" aria-hidden="true"></i></span>
                                <span class="title">Departments</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" routerLinkActive="test">
                                <span class="icaons"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                                <span class="title">Sign Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
</nav>


<div class="main">
    <div class="topbar">
        <div (click)="showSideBar()" class="toggle">
            <i class="fa-solid fa-sliders"></i>
        </div>
        <div class="user">
            <img src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="img">
        </div>
    </div>
</div>


<div class="routerOutlet">
    <router-outlet></router-outlet>
</div>

