
<div class="cardBox">
    <div class="cards">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Number Of Department</h5>
                            <p class="card-text">20</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Number Of Doctors</h5>
                            <p class="card-text">40</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Number Of Patient</h5>
                            <p class="card-text">70</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Number Of Rooms</h5>
                            <p class="card-text">50</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


