
<div class="potientPage pt-5">
<div class="container">
    <br>
        <div class="col-md-3 form-box ">
        <select class="form-select" aria-label="Default select example">
            <option selected>Select Room</option>
            <option value="1">Room 1</option>
            <option value="2">Room 2</option>
            <option value="3">Room 3</option>
        </select>
    <br>
    </div>
    <div >
        <full-calendar class="cal" [options]="calendarOptions"></full-calendar>
    </div>
    
</div>
</div>