
<div class="container">
    <h4 class="mb-3"><b>Available Doctors 12</b></h4>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="">
                    <h5 class="card-title">Ahmed Mahmoud</h5>
                    <span>Department</span>
                    <br>
                    <span>Saturday and Monday from 7 to 10</span>
                </div>
            </div>
        </div> 
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="">
                    <h5 class="card-title">Ahmed Mahmoud</h5>
                    <span>Department</span>
                    <br>
                    <span>Saturday and Monday from 7 to 10</span>
                </div>
            </div>
        </div> 
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="">
                    <h5 class="card-title">Ahmed Mahmoud</h5>
                    <span>Department</span>
                    <br>
                    <span>Saturday and Monday from 7 to 10</span>
                </div>
            </div>
        </div> 
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="">
                    <h5 class="card-title">Ahmed Mahmoud</h5>
                    <span>Department</span>
                    <br>
                    <span>Saturday and Monday from 7 to 10</span>
                </div>
            </div>
        </div> 
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="">
                    <h5 class="card-title">Ahmed Mahmoud</h5>
                    <span>Department</span>
                    <br>
                    <span>Saturday and Monday from 7 to 10</span>
                </div>
            </div>
        </div> 
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="../../../assets/images/user_ahmed@gmail.com.jpeg" alt="">
                    <h5 class="card-title">Ahmed Mahmoud</h5>
                    <span>Department</span>
                    <br>
                    <span>Saturday and Monday from 7 to 10</span>
                </div>
            </div>
        </div> 
    </div>
       
</div>
